.beer-card {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;    
    width: 100%;
    max-width: 20rem;
    border-radius: 3px;
    overflow: hidden;
    padding: 1rem;
    contain: content;
  
    .beer-card__image {
      max-height: 30vh;  
      max-width: 20vw;
      width: 100%;
      object-fit: contain;  
      border-radius: 3px;
    }
  
    .beer-card__content {
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      width: 100%;
      word-break: break-word;
  
      .profile-card__heading {
        font-size: 1.5rem;
        font-weight: normal;
      }
    }
  }

 
  